body{
    font-size: 18px;
    padding: 10%;
    padding-top: 2%;
}

h1{
    text-align: center;
}
#inter,#vid{
    text-align: center;
    border: 2px solid rgb(15, 232, 181);
}

pre{
    color: rgb(15, 232, 181);
    font-size: 16px;
    text-align: center;    
}
a{
    color: rgb(15, 232, 181);
}

.int{
    border: 1px solid orange;
}

table{
    margin: auto;
}

th,td{
    padding:10px;
}